<nav class="fixed top-0 w-full h-[calc(1px*var(--nav-bar-height))] flex bg-slate-700 text-white justify-between z-50">
    <div class="flex items-center gap-10 px-10">
        <img class="w-9" src="assets/logo.svg" />
        <a routerLink="/">Home</a>
        <a routerLink="/posts" class="hover:text-brightColor transition-all cursor-pointer">
            Posts
        </a>
        <a routerLink="/usersearch">User Search</a>
        <a routerLink="/pageclick" class="hover:text-brightColor transition-all cursor-pointer">
            Page Click
        </a>
    </div>
</nav>