<nav class="fixed top-0 w-full h-12 flex bg-slate-700 text-white justify-between z-50">

    <div class="flex items-center gap-10 px-10">
        <img class="w-9" src="assets/logo.svg" />
        <a routerLink="/">Home</a>
        <a routerLink="/usersearch">User Search</a>
    </div>
</nav>

<hr>

<div class="py-14">
    <h1 class="text-3xl font-bold underline text-green-500">Tailwind Testing</h1>
</div>

<hr>

<div class="py-[20px]">
    <a class="text-green-500" routerLink="/posts">Posts (Test around ngrx signal store)</a>
</div>
<hr>

<section class="app-description">
    <div>
        <h1>Page Click Visualizer</h1>
        <p>Start clicking around the page...</p>
    </div>
</section>
<div>
    <button mat-stroked-button (click)="reset$.next(); $event.stopPropagation()">
        Reset State
    </button>
</div>
@for (click of clicks$ | async; track $index) {
<div [style.left.px]="click.clientX" [style.top.px]="click.clientY" class="click"></div>
}