<!-- <nav class="fixed top-0 w-full h-12 flex bg-slate-700 text-white justify-between z-50">

    <div class="flex items-center gap-10 px-10">
        <img class="w-9" src="assets/logo.svg" />
        <a routerLink="/">Home</a>
        <a routerLink="/usersearch">User Search</a>
    </div>
</nav> -->

<div class="mt-[calc(1px*var(--nav-bar-height))]">
    <div class="text-element-base p-10 text-2xl font-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quaerat quidem nostrum nemo, facere hic delectus
        dolore aperiam pariatur voluptatum, cumque facilis accusamus atque dicta. Optio est doloribus enim quidem!
    </div>

    <div id="bright-theme">
        <div class="text-element-base p-10 text-2xl font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quaerat quidem nostrum nemo, facere hic
            delectus
            dolore aperiam pariatur voluptatum, cumque facilis accusamus atque dicta. Optio est doloribus enim quidem!
        </div>
    </div>

</div>

<!-- <div class="border border-red-500 mt-[200px]">Place holder for NavBar2(FoodiWeb)</div> -->
<div class="border border-red-500">border red?</div>

<div class="mt-8">
    <hr>
    <div class="py-14">
        <h1 class="text-3xl font-bold underline text-green-500">Tailwind Testing</h1>
    </div>

    <hr>

    <div class="py-[20px]">
        <a class="text-green-500" routerLink="/posts">Posts (Test around ngrx signal store)</a>
    </div>
    <hr>
</div>